body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
    color: #333;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.profile-header {
    position: relative;
    margin-bottom: 50px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    background-color: white;
    color: #333;
    margin: 20px 0; /* Keeps the space between items */
    padding: 15px 30px;
    border-radius: 50px;
    transition: all 0.1s ease;
    box-shadow: 0 10px 0 black; /* Thicker solid black shadow */

}




.link-list li:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.link-list li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

@media screen and (max-width: 768px) {
    .profile-container {
        width: 90%;
        margin-top: 30px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
        margin-top:20px;
    }

    h1 {
        font-size: 22px;
    }

    .link-list li {
        padding: 15px 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.5); /* Deeper shadow with 50% opacity */

    }
    

    .link-list li a {
        font-size: 16px;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
